<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal - Gerenciador de Despesas</title>
    <link rel="stylesheet" href="...assets/css/styles.css">
</head>
<body>
    <header>
        <h1>Menu Principal</h1>
    </header>
    <main>
        <section class="menu-options">
            <a href="cadastrar-despesas.html" class="menu-button">Cadastrar Despesas</a>
            <a href="perfil.html" class="menu-button">Perfil do Usuário</a>
        </section>
    </main>
  
    <script src="../js/scripts.js"></script>
</body>
</html>